h1{
    margin: 0;
    font-size: 44px;
    word-spacing: -2px;
    letter-spacing: -2px;
    color: #fff;
    /* background-color: #363636; */
}

.toggled--tour,
.toggled--tour > div > svg > path{
    color: black;
    fill: black;
    background-color: #fff;
    border-radius: 0.5rem;
}

a{
    text-decoration: none;
    color: white;
}

li, ul{
    margin: 0 auto;
    list-style: none;
    padding: 0 0 0 0;
}

.nav_main_section {
    height: calc(70% - 20px);
    width: calc(40% - 20px);
}

.list_main_section{
    display: flex;
    flex-direction: row;
    padding: 5px 5px 5px 5px;
    height: 100%;
    width: 50%;
    background-color: rgba(17,33,56,0.12);
    border-radius: 0.5rem;
}

.h1_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30%;
    /* background-color: #303030; */
}

.section_wrapper{
    width: 100%;
    height: 65%;
}

.main_section,
.main_section_inner-wrapper{
    /* background-color: #242424; */
    width: 100%;
    height: 100%;
}

.nav_tour_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    /* background-color: #424242; */
    /* background-color: var(--main-color); */
}

.form_tickets_wrapper{
    position: relative;
    height: 50%;
    width: 100%;
    /* background-color: #545454; */
}


.list_item_tour{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
     align-items: center;
}

.tour_link:hover{
    transition: 0.1s linear;
    border-radius: 0.5rem;
    background: var(--btn-hover);
}

/* ?костыль? для того чтобы был задный  фон на выбранном элементе toggled--tour*/
.toggled--tour:hover{
    background-color: #fff;
}

.tour_link:not(:hover){
    transition: 0.1s linear;
    /* background: transparent; */
}

.toup_plaintext{
    font-size: 16px;
}

.tour_link{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* если не выбран пункт background-color: #0656fe; */
}

.tour_svg{
    height: 50%;
    align-content: end;
}

.tour_plaintext{
    /* overflow-wrap: anywhere; */
    overflow: hidden;
}

.main_form{
    display: flex;
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
}

.form_inner_wrapper{
    display: flex;
    height: 75%;
    width: 65%;
    align-items: center;
    background-color: transparent;
    gap: 2px;
}

.form_inner_wrapper > * {
    height: 60%;
    width: 20%;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-family: "Montserrat Alternates", sans-serif;
}

.form_inner_wrapper > button {
    box-sizing: border-box;
    width: 20%;
}

.form_inner_wrapper > input:first-of-type{
    border-radius: 0.5rem 0px 0px 0.5rem;
}

.form_inner_wrapper > button:last-of-type{
    border-radius: 0px 0.5rem 0.5rem 0px ;
}

.form_inner_wrapper > input:last-of-type{
    border-radius: 0.5rem;
    margin-left: 10px;
    background-color: var(--accent-color);
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.form_inner_wrapper > input::placeholder{
    color: black;
}

.form_inner_wrapper > input[type="text"]{
    padding-left: 6px;
}

.form_inner_wrapper > *:focus{
    box-sizing: border-box;
    /* border: 2px solid var(--accent-color); */
    box-shadow: 0 0 0 2px var(--accent-color);
}

.button_inner_wrapper{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.passenger_and_class{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.passenger_and_class > span{
    width: 100%;
}

.user_passenger{
    text-transform: lowercase;
}

.passenger_class{
    color: var(--grey-color);
    /* font-size: 12px; */
}

.user_passenger::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 5px 4px 0px 4px;
    border-color: var(--grey-color) transparent transparent transparent;
    position: absolute;
    margin-top: 7px;
    right: 10px;

    transition: 0.180s linear;
    transform: rotate(-360deg);
}

.user_passenger-rotate::after{
    transition: 0.180s linear;
    transform: rotate(-180deg);
}

.passengers_wrapper{
    /* width: 15%;
    height: 100%;
    background-color: #fff; */
    height: 144%;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 18%;
    right: 28.8%;
    top: 30%;
    border-radius: 0.5rem;
    justify-content: space-between;
    background-color: #fff;
    color: black;
}

.type_class_section{
    box-sizing: border-box;
    height: 94%;
}

.type_class_wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.type_class_wrapper > span{
    margin: 0;
    font-weight: 600;
    overflow: hidden;
}

.type_component_wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Возможно придётся переделать, т.к. внутренняя обёртка идёт на абсолютно позиционироуемый объект */
.inner_passengers_wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 10px 0px 10px 0px;
}

.inner_passengers_wrapper > span {
    font-weight: 600;
}

.calendar_wrapper{
    position: absolute;
    display: flex;
    width: 50%;
    left: 25%;
    bottom: 20.5%;
    border-radius: 0.5rem;
}
.react-calendar__navigation,
.react-calendar__viewContainer,
.react-calendar__month-view{
    border-radius: 0.5rem;
}
.react-calendar{
    border-radius: 0.5rem;
    height: 150px;
    width: 740px;
}

.calendar_wrapper button,
.calendar_wrapper abbr,
.calendar_wrapper div{
    background-color: white;
    color: black;
    border: 0;
    /* text-decoration: double; */
}