h1{
    margin: 0;
    font-size: 44px;
    word-spacing: -2px;
    letter-spacing: -2px;
    background-color: #363636;
}

.toggled--tour,
.toggled--tour > div > svg > path{
    color: black;
    fill: black;
    background-color: #fff;
    border-radius: 0.5rem;
}

a{
    text-decoration: none;
    color: white;
}

li, ul{
    margin: 0 auto;
    list-style: none;
    padding: 0 0 0 0;
}

.nav_main_section {
    height: calc(70% - 20px);
    width: calc(40% - 20px);
}

.list_main_section{
    display: flex;
    flex-direction: row;
    padding: 5px 5px 5px 5px;
    height: 100%;
    width: 50%;
    background-color: rgba(17,33,56,0.12);
    border-radius: 0.5rem;
}

.h1_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30%;
    background-color: #303030;
}

.section_wrapper{
    width: 100%;
    height: 65%;
}

.main_section,
.main_section_inner-wrapper{
    background-color: #242424;
    width: 100%;
    height: 100%;
}

.nav_tour_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: #424242;
    /* background-color: var(--main-color); */
}

.form_tickets_wrapper{
    height: 50%;
    width: 100%;
    background-color: #545454;
}


.list_item_tour{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
     align-items: center;
}

.tour_link:hover{
    transition: 0.1s linear;
    border-radius: 0.5rem;
    background: var(--btn-hover);
}

/* ?костыль? для того чтобы был задный  фон на выбранном элементе toggled--tour*/
.toggled--tour:hover{
    background-color: #fff;
}

.tour_link:not(:hover){
    transition: 0.1s linear;
    /* background: transparent; */
}

.toup_plaintext{
    font-size: 16px;
}

.tour_link{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* если не выбран пункт background-color: #0656fe; */
}

.tour_svg{
    height: 50%;
    align-content: end;
}

.tour_plaintext{
    overflow-wrap: anywhere;
}

.main_form{
    display: flex;
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
}

.form_inner_wrapper{
    display: flex;
    height: 75%;
    width: 65%;
    align-items: center;
    background-color: transparent;
    gap: 2px;
}

.form_inner_wrapper > * {
    height: 60%;
    width: 20%;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-family: "Montserrat Alternates", sans-serif;
}

.form_inner_wrapper > button {
    width: 20%;
}

.form_inner_wrapper > input:first-of-type{
    border-radius: 0.5rem 0px 0px 0.5rem;
}

.form_inner_wrapper > button:last-of-type{
    border-radius: 0px 0.5rem 0.5rem 0px ;
}

.form_inner_wrapper > input:last-of-type{
    border-radius: 0.5rem;
    margin-left: 10px;
    background-color: var(--accent-color);
    color: white;
    font-weight: 600;
    font-size: 18px;
}

/* TODO  Сделать отступы внутри первых 2х input, при наборе текста placeholder стоит после курсора
        + сделать псевдоэлемент ::after в последнем button абсолютно-позиционируемым 
*/
/* .form_inner_wrapper > input::placeholder{
    padding-left: 5px;
    color: black;
} */

.form_inner_wrapper > *:focus{
    border: 2px solid var(--accent-color);
}

.button_inner_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_passenger::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 5px 4px 0px 4px;
    border-color: var(--grey-color) transparent transparent transparent;
    position: absolute;
    margin-top: 7px;
    margin-left: 25px;
}