.type_passengers-wrapper{
    
}

/* .type_passengers-wrapper:nth-child(2),
.type_passengers-wrapper:nth-child(3){
    border-bottom: 1px solid lightgray;
} */

.passenger_age-group{
    display: flex;
    justify-content: space-between;
}



.age-group-inner--wrapper{
    display: flex;
    flex-direction: column;
}