#root {
  /* max-width: 100vw;
  max-height: 100vh; */
  margin: 0 auto;
  text-align: center;
  --main-color:#0c73fe;
  --accent-color:#fa742d; /*#f25122*/
  --btn-hover: #ffffff22;
  --grey-color: #9ea9b7;
  font-family: "Montserrat Alternates", sans-serif;
  width: inherit;
  height: inherit;
}

body{
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}