.counter_inner_wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.btn_decrement, .btn_increment{
    box-sizing: border-box;
    padding: 0;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: lightgray;
    border: none;
    cursor: pointer;
}